body, h1, h2, h3, h4, h5, p, a, ul, ol {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS";
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

section {
	padding: 60px 0;
}

body {
	background-image: url(../img/mainBG.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.-up{
	text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
	body {
		background-image: url(../img/mainBGl.png);
		background-repeat: no-repeat;
		max-width: 100%;
		background-size: 100%;
	}
}

@media screen and (max-width: 767px) {
	body {
		background-image: url(../img/mainBG.png);
		background-size: 1200px;
		background-position-x: -450px;
	}
}