.header{
	height: 100px;
	color: #fff;
	padding: 0 22px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__link.-up{
	text-transform: uppercase;
	display: flex;
	color: #f5f5f5;
}

.header__link.-up.-spb{
	position: relative;
	color: #2F80ED;
}

.arrow-down {
	display: block;
	position: absolute;
	right: -18px;
	top: 6px;
	width: 1px; 
	height: 1px; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;		  
	border-top: 5px solid #2F80ED;
}

.header__cities{
	text-transform: uppercase;
}

.header__link{
	margin-right: 25px;
	color: #fff;
}

.header__actions{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__rate{
	border-radius: 50%;
	width: 330px;
	height: 250px;
	background-color: #f5f5f5;
	color: #2F80ED;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


@media screen and (max-width: 979px) {
	.header__actions{
		display: none;
	}
}


@media screen and (max-width: 767px) {
	.header__link.-spb.-up {
		color: var(--color-white);
	}

	.arrow-down {
		border-top-color: var(--color-white);
	}

	.header{
		padding: 0 15px;
	}
}