.reason__title{
	font-weight: bold;
	font-size: 30px;
	width: 50%;
	height: 503px;
	display: flex;
	align-items: center;
}

.card.-reason{
	margin-bottom: 20px;
	width: 314px;
	height: 220px;
	padding: 34px 53px 0;
	color: #636363;
	width: 45%;
}

.card__text.-reason{
	margin-top: 15px;
}

.card__subtitle{
	font-weight: bold;
	font-size: 24px;
	color: #2F80ED;
}

.card__title.-reason{
	font-weight: bold;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reasons{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.reason__text{	
	margin-top: 15px;
}

.reason__list{
	min-width: 666px;
	width: 50%;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.container.-f{
	display: block;
}

@media screen and (max-width: 1023px){

	.card__title.-reason{
		/*width: 736px;
		height: 187px;*/
		/*display: flex;
		align-items: center;*/
	}

	.reason__subtitle{
		font-weight: bold;
		font-size: 24px;
		color: #2F80ED;
	}

	.container{
		width: 384px;
	}

	.content.-reasons{
		align-items: center;
		flex-direction: column;
	}

	.reason__title{
		width: 100%;
	}
}

@media screen and (max-width: 767px){
	.reason__list{
		min-width: 100%;
	}

	.card.-reason{
		width: 100%;
	}

	.reason__title{
		width: 100%;
	}
}
