.container {
	width: 1200px;
	margin:0 auto;
}

section {
	padding: 60px 0;
}

.section.hero{
	padding-top: 0;
	padding-bottom: 60px;
}

.content.-reasons{
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1240px){
	.container{
		width: 1000px;
	}
}

@media screen and (max-width: 1023px){
	.container {
		width: 720px;
	}
}

@media screen and (max-width: 767px){
	.container{
		width: 100%;
	}

	.container.-r {
		position: relative;
	}

	.section__hero{
		height: 100%;
	}
}
