.who{
	background: url(../img/rectangle.png);
	background-repeat: no-repeat;
	background-position-x: 85px;
}

.reason__title.-who{
	/*padding-top: 200px;*/
	width: 100%;
	margin-bottom: 60px;
}

.card.-who{
	color: #636363;
	margin-bottom: 25px;
}

.card__list.-who{
	display: flex;
	justify-content: space-between;
}

.card__title.-who{
	font-size: 14px;
	color: #2F80ED;
	font-weight: 600;
	margin-bottom: 10px;
}

.container.-m {
	width: 850px;
}

@media screen and (max-width: 1023px){
	.container.-m{
		width: 730px;
	}

	.who {
		background: var(--color-blue-transparent);
	}
}

@media screen and (max-width: 767px){
	.card__list.-who{
		align-items: center;
		flex-direction: column;
	}

	.container.-m {
    	width: 384px;
	}

	.reason__title.-who{
		height: 60px;
	}
}
