.willbe__list {
	width: 55%;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.willbe__info {
	display: flex;
	align-items: center;
}

.card.-willbe {
	width: 230px;
}

.willbe__title {
	font-weight: bold;
	font-size: 30px;
	margin: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.willbe__programm {
	cursor: pointer;
	color: #2F80ED;
	border-bottom: 1px dashed #2F80ED;
	font-weight: 600;
	font-size: 14px;
}

.willbe__main {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.willbe {
	margin-bottom: 35px;
}

@media screen and (max-width: 1023px){
	.willbe__info{
		flex-direction: column;
	}



	.willbe__list{
		width: 100%;
		
	}

	.card.-willbe{
		margin-bottom: 20px;
	}

	.willbe__content{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	.willbe__programm{
		text-align: center;
	}

	.card.-willbe.-transparent{
		position: absolute;
		right: 100px;
	}
	.willbe__programm{
		position: absolute;
		left: 0;
		bottom: -10px;
	}

	.card.-who.-transparent.-two-in-row{
		width: 45%;
	}
}

@media screen and (max-width: 767px){
	.willbe__list{
		display: block;
		width: 200px;
		padding: 0 auto;
	}

	.willbe__main{
		display: none;
	}

	.willbe__programm{
		/*width: 250px;*/
		position: static;
	}
	.willbe__content{
		display: flex;
		align-items: center;
	}
	.card.-who.-transparent.-two-in-row{
		width: 210px;
	}
}
