.willbe__list {
	width: 55%;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.willbe__info {
	display: flex;
	align-items: center;
}

.card.-willbe {
	width: 230px;
}

.willbe__title {
	font-weight: bold;
	font-size: 30px;
	margin: 15px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.willbe__programm {
	cursor: pointer;
	color: #2F80ED;
	border-bottom: 1px dashed #2F80ED;
	font-weight: 600;
	font-size: 14px;
}

.willbe__main {
	width: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.willbe {
	margin-bottom: 35px;
}

.willbe__info {
	margin-bottom: 24px;
	position: relative;
}

.willbe__list .card.-who:nth-child(3),
.willbe__list .card.-who:last-child {
	margin-bottom: 0;
}

@media screen and (max-width: 819px){
	.willbe__info{
		flex-direction: column;
	}

	.willbe__list{
		width: 100%;
	}

	.card.-willbe{
		margin-bottom: 20px;
	}

	.willbe__content{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.willbe__programm{
		text-align: center;
	}

	.willbe__main {
		position: absolute;
		right: 0;
		bottom: -125px;
		justify-content: flex-start;
	}
}

@media screen and (max-width: 767px){
	.willbe__list{
		display: block;
		width: 145px;
		padding: 0 auto;
	}

	.willbe__main{
		display: none;
	}

	.willbe__content{
		-ms-align-items: center;
	}

	.willbe__list .card.-who:nth-child(3),
	.willbe__list .card.-who:last-child {
		margin-bottom: 25px;
	}
}
